@model LogOnModel

@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log On</h2>
<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register", null, new { @class = "ui-state-default ui-corner-all" }) if you don't have an account.
</p>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="add-margin-left related-form-fields">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="add-margin-left related-form-fields">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="add-margin-left related-form-fields">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="add-margin-left related-form-fields">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="add-margin-left related-form-fields">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <div class="add-margin-left related-form-fields">
                <input type="submit" value="Log On" />
            </div>
        </fieldset>
    </div>
}
