@using LoggingServer.Interface.Controllers
@model SearchFilterModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Saved Search</h2>

@using (Html.BeginForm("Edit", "Filter", FormMethod.Post, new { id = "edit" }))
{    
    @Html.ValidationSummary()
    @Html.Hidden("UserName", User.Identity.Name)
    @Html.HiddenFor(c => c.ID)
    <fieldset class="related-form-fields">
        <legend>Search Logs</legend>
        <div class="related-form-fields">
            <div class="left">
                @Html.LabelFor(x => x.ProjectName)<br/>
                @Html.TextBoxFor(x => x.ProjectName)
            </div>
            <div class="left">
                @Html.LabelFor(x => x.ComponentName)<br/>
                @Html.TextBoxFor(x => x.ComponentName)
            </div>
        </div>
        <div class="related-form-fields">
            <div class="left">
                @Html.LabelFor(x => x.StartDate)<br/>
                @Html.TextBoxFor(x => x.StartDate)
            </div>
            <div class="left">
                @Html.LabelFor(x => x.EndDate)<br/>
                @Html.TextBoxFor(x => x.EndDate)
            </div>
        </div>
        <div class="checkboxes">
            <span class="add-margin-right">Log Levels:</span>
            @(Html.CheckBoxesForFlagsEnum<LogLevel>("LogLevel", Model.LogLevel, null))
        </div>
        <div class="related-form-fields">
            <div class="left">
                @Html.LabelFor(x => x.MachineNamePartial)<br/>
                @Html.TextBoxFor(x => x.MachineNamePartial)
            </div>
            <div class="left">
                @Html.LabelFor(x => x.ExceptionPartial)<br/>
                @Html.TextBoxFor(x => x.ExceptionPartial)
            </div>
            <div class="left">
                @Html.LabelFor(x => x.MessagePartial)<br/>
                @Html.TextBoxFor(x => x.MessagePartial)
            </div>
        </div>
        <div class="checkboxes">
            @Html.LabelFor(x => x.IsGlobal)
            @Html.CheckBoxFor(x => x.IsGlobal) (meaning any logged in user can see/edit this search)
        </div>
        <div>
            <input type="submit" value="Save" /> 
            @if(Model.ID != Guid.Empty){<text>or @(Html.ActionLink<FilterController>(c => c.Delete(Model.ID), "delete this search"))</text>}
        </div>
    </fieldset>
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $(function () {
            $("#StartDate").datetimepicker({ showSecond: true, ampm: true, timeFormat: 'h:m:s TT' });
            $("#EndDate").datetimepicker({ showSecond: true, ampm: true, timeFormat: 'h:m:s TT' });
        });
    });
</script>